<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>
        <%= title %>
    </title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <%- include('../../components/bootstrapCND/bootstrapCND') %>
</head>

<body>
    <div id="wrapper">
        <div class="body-content">
            <%- include('../../components/navbar/navbar') %>
                <div class="card p-4 m-5">
                    <form>
                        <legend>Cadastro de Operadoras</legend>
                        <div class="form-text">Insira as informações para cadastrar uma nova operadora.</div>
                        <div class="row pt-4">
                            <div class="col-6">
                                <label for="exampleInputEmail1" class="form-label">Nome da Operadora</label>
                                <input type="text" class="form-control" value="<%= operadoras_list.ope_nome %>"
                                    name="ope_nome" maxlength="20" <%= seeRegister %>/>
                            </div>
                            <div class="col-6">
                                <label for="exampleInputEmail1" class="form-label">Código da Operadora</label>
                                <input type="text" class="form-control" value="<%= operadoras_list.codigo %>"
                                    name="ope_codigo" readonly />
                            </div>
                        </div>
                        <div class="row pt-4">
                            <div class="col-6">
                                <label for="exampleInputEmail1" class="form-label">Nome Fantasia</label>
                                <input type="text" class="form-control" value="<%= operadoras_list.ope_fantasia %>"
                                    name="ope_fantasia" maxlength="10" <%= seeRegister %>/>
                            </div>
                            <div class="col-6">
                                <label for="exampleInputEmail1" class="form-label">Prefixo</label>
                                <input type="text" class="form-control" value="<%= operadoras_list.ope_prefixo %>"
                                    name="ope_prefixo" maxlength="11" <%= seeRegister %>/>
                            </div>
                        </div>
                        <div class="row pt-4">
                            <div class="col-12">
                                <label for="exampleInputEmail1" class="form-label">Cidade</label>
                                <input type="text" class="form-control" value="<%= operadoras_list.ope_cidade %>"
                                    name="ope_cidade" maxlength="20" <%= seeRegister %>/>
                            </div>
                        </div>
                        <div class="row pt-4">
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-6">

                                        <a type="submit" class="btn btn-success w-100" href=<%=urlSubmit %>>
                                            Salvar
                                        </a>
                                    </div>
                                    <div class="col-6">
                                        <a href="/operadoras">
                                            <button class="btn btn-danger w-100">Cancelar</button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
        </div>
        <%- include('../../components/footer/footer') %>
    </div>
</body>

</html>